extends ../layout/index.pug
block content
  a.btn.btn-info(href='/users/add') Add new User
  hr
  .container.bootstrap.snippet
    .row
      if addResult.success
        .alert.alert-success
          | Sucessfully added!
      .col-lg-12
        .main-box.no-header.clearfix
          .main-box-body.clearfix
            .table-responsive
              table.table.user-list
                thead
                  tr
                    th
                      span User
                    th
                      span City
                    th.text-center
                      span Web Site
                    th
                      span Email
                    th  
                tbody
                  each user in users
                    tr
                      td
                        img(src='https://bootdey.com/img/Content/user_1.jpg', alt='')
                        a.user-link(href=`/users/${user.id}`)=user.name
                        span.user-subhead Member
                      td=user.address.city
                      td.text-center
                        span.label.label-default=user.website
                      td
                        a(href=`mailto:${user.email}`)=user.email
                      td(style='width: 20%;')
                        a.table-link(href='#')
                          span.fa-stack
                            i.fa.fa-square.fa-stack-2x
                            i.fa.fa-search-plus.fa-stack-1x.fa-inverse
                        a.table-link(href='#')
                          span.fa-stack
                            i.fa.fa-square.fa-stack-2x
                            i.fa.fa-pencil.fa-stack-1x.fa-inverse
                        a.table-link.danger(href='#')
                          span.fa-stack
                            i.fa.fa-square.fa-stack-2x
                            i.fa.fa-trash-o.fa-stack-1x.fa-inverse
