extends ../layout/index.pug
block content
  hr
  .container.bootstrap.snippet
    .row
      .col-lg-12
        .main-box.no-header.clearfix
          .main-box-body.clearfix
            .table-responsive
              table.table.user-list
                thead
                  tr
                    th
                      span User
                    th
                      span Created
                    th.text-center
                      span Status
                    th
                      span Email
                    th  
                tbody
                  tr
                    td
                      img(src='https://bootdey.com/img/Content/user_1.jpg', alt='')
                      a.user-link(href='#') Full name 1
                      span.user-subhead Member
                    td 2013/08/12
                    td.text-center
                      span.label.label-default pending
                    td
                      a(href='#') marlon@brando.com
                    td(style='width: 20%;')
                      a.table-link(href='#')
                        span.fa-stack
                          i.fa.fa-square.fa-stack-2x
                          i.fa.fa-search-plus.fa-stack-1x.fa-inverse
                      a.table-link(href='#')
                        span.fa-stack
                          i.fa.fa-square.fa-stack-2x
                          i.fa.fa-pencil.fa-stack-1x.fa-inverse
                      a.table-link.danger(href='#')
                        span.fa-stack
                          i.fa.fa-square.fa-stack-2x
                          i.fa.fa-trash-o.fa-stack-1x.fa-inverse
                  tr
                    td
                      img(src='https://bootdey.com/img/Content/user_3.jpg', alt='')
                      a.user-link(href='#') Full name 2
                      span.user-subhead Admin
                    td 2013/08/12
                    td.text-center
                      span.label.label-success Active
                    td
                      a(href='#') marlon@brando.com
                    td(style='width: 20%;')
                      a.table-link(href='#')
                        span.fa-stack
                          i.fa.fa-square.fa-stack-2x
                          i.fa.fa-search-plus.fa-stack-1x.fa-inverse
                      a.table-link(href='#')
                        span.fa-stack
                          i.fa.fa-square.fa-stack-2x
                          i.fa.fa-pencil.fa-stack-1x.fa-inverse
                      a.table-link.danger(href='#')
                        span.fa-stack
                          i.fa.fa-square.fa-stack-2x
                          i.fa.fa-trash-o.fa-stack-1x.fa-inverse
                  tr
                    td
                      img(src='https://bootdey.com/img/Content/user_2.jpg', alt='')
                      a.user-link(href='#') Full name 3
                      span.user-subhead Member
                    td 2013/08/12
                    td.text-center
                      span.label.label-danger inactive
                    td
                      a(href='#') marlon@brando.com
                    td(style='width: 20%;')
                      a.table-link(href='#')
                        span.fa-stack
                          i.fa.fa-square.fa-stack-2x
                          i.fa.fa-search-plus.fa-stack-1x.fa-inverse
                      a.table-link(href='#')
                        span.fa-stack
                          i.fa.fa-square.fa-stack-2x
                          i.fa.fa-pencil.fa-stack-1x.fa-inverse
                      a.table-link.danger(href='#')
                        span.fa-stack
                          i.fa.fa-square.fa-stack-2x
                          i.fa.fa-trash-o.fa-stack-1x.fa-inverse
