extends ../layout/index.pug
block content
  .container
    h3.h3 All books
    .row
      each book in books
        .col-md-3.col-sm-6
          a(href=`/books/${book.isbn}`)
            .product-grid
              .product-image
                img.pic-1(src=`${book.thumbnailUrl}`)
              ul.rating
                li.fa.fa-star
                li.fa.fa-star
                li.fa.fa-star
                li.fa.fa-star
                li.fa.fa-star
              .product-content
                h3.title=book.title
                .price
                  | $16.00
                a.add-to-cart(href='') + Add To Cart
