extends ../layout/index.pug
block content
  if addResult.success
    .alert.alert-success
      | Sucessfully added!
  else if addResult.error
    .alert.alert-danger
      | Something is wrong! Please fill all fields.
  form(action='/feedbacks', method='POST')
    .form-row
    .form-group
      label(for='inputName') Name
      input#inputName.form-control(type='text', placeholder='Name', name='uaName')
    .form-group
      label(for='inputEmail') Email
      input#inputEmail.form-control(type='email', placeholder='Email', name='uaEmail')
    .form-group
      label(for='message') Message
      input#inputMessage.form-control(type='text', placeholder='Message', name='uaMessage')
      
    button.btn.btn-primary(type='submit') Save new feedback