extends ../layout/index.pug
block content
  a.btn.btn-info(href='/feedbacks/add') Add new Feedback
  hr
  .container.bootstrap.snippet
    .row
      if success
        .alert.alert-success(role='alert')
          =message
      else if error
        .alert.alert-danger(role='alert')
          =message
      .col-lg-12
        .main-box.no-header.clearfix
          .main-box-body.clearfix
            .table-responsive
              table.table.user-list
                thead
                  tr
                    th(scope='col') Name
                    th(scope='col') Email
                    th(scope='col') Message
                    th Action
                tbody
                  each feedback in feedbacks
                    tr
                      th(scope='row')=feedback.name
                      td=feedback.email
                      td=feedback.message
                      td
                        form(action=`/feedbacks/delete`, method='post')
                          input(type='hidden', value=`${feedback.id}`, name='id')
                          button.unstyled-button(type='submit')
                            span.fa-stack
                              i.fa.fa-square.fa-stack-2x
                              i.fa.fa-trash-o.fa-stack-1x.fa-inverse(style="color:red")
