extends ../layout/index.pug
block content
  a.btn.btn-info(href='/feedbacks/add') Add new Feedback
  hr
  .container.bootstrap.snippet
    .row
      if addResult.success
        .alert.alert-success
          | Sucessfully added!
      .col-lg-12
        .main-box.no-header.clearfix
          .main-box-body.clearfix
            .table-responsive
              table.table.user-list
                thead
                  tr
                    th(scope='col') Name
                    th(scope='col') Email
                    th(scope='col') Message
                    th Action
                tbody
                  each feedback in feedbacks
                    tr
                      th(scope='row')=feedback.name
                      td=feedback.email
                      td=feedback.message
                      td
                        a.table-link.danger(href='#', name='btnDeleteFeedback', data-id=`${feedback.id}`)
                          span.fa-stack
                            i.fa.fa-square.fa-stack-2x
                            i.fa.fa-trash-o.fa-stack-1x.fa-inverse
